.git
__pycache__
*.pyc
.DS_Store
.containerignore
.env
.env.*
*.db
*.sqlite
*.sqlite3
*.log
*.pem
*.key
*.crt
*secret*.yaml
*secret*.yml
*-bkp.py
*-backup.py
*-correct.py
data
horizon-self-service-cicd-pipeline-backend
main-bkp.py
main-correct.py
